

div.content-animation,
div > div {
    position: relative; /* Change absolute positioning to relative */
}

div.content-animation {
    top: 0; /* Adjust the top value to fit your needs */
    left: 0;
    /* Remove the height property if you don't need a fixed height */
    height: 0;
    width: 100%;
    background-color: darkblue;
    border-radius: 5px;
    animation: compress-decompress 2s linear infinite;
    box-shadow: 10px 14px 14px grey;
}

div > div {
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    /* Adjust the top, left, and right values to position the elements correctly */
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}
