<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>function autoResize(element) {
        element.style.height = "auto";
        element.style.height = (element.scrollHeight)+"px";
    }
    </script>
</head>
<body>








    <header class="header">
        
        <input type="checkbox" id="menu-toggle" class="menu-toggle" />
        <label for="menu-toggle">&#9776;</label> <!-- Here is the burger menu icon -->
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <div class="animated-line"></div><br>




        <div class="container">
            <div class="chat-container">
                <div class="chat-box" id="chatBox">
                    <!-- Chat messages will be added here dynamically -->
                </div>
                <div class="chat-input">
                    <textarea id="chatInput" placeholder="Type your message here..." oninput="autoResize(this)"></textarea>
                    <button id="sendButton"><i class="fa fa-paper-plane" style="font-size: 24px;"></i></button>
                </div>
            </div>
        </div>
    
        <script>
            $(document).ready(function(){
                $("#sendButton").click(function(){
                    var userMessage = $("#chatInput").val();
                    $("#chatBox").append('<div class="chat-message user-message"><div class="message-content"><p>' + userMessage + '</p></div></div>');
    
                    $.post("/message", {message: userMessage}, function(data){
    var botMessage = data.message;
    $("#chatBox").append('<div class="chat-message bot-message"><div class="avatar"><i class="fa fa-user-circle" style="font-size: 26px; margin-right: 10px;"></i></div><div class="message-content"><p>' + botMessage + '</p></div></div>');
});

});
                })
    
        </script>
    </body>
    </html>
    